
<section class="sectionBiere">
    <md-card>
       <form name="ajoutForm">
        <h1>Ajout d'une bière</h1>    
        <md-input-container class="md-block" flex-gt-sm>
            <label>Nom de la bière</label>
            <input required ng-model="biere.nom" name="name">
                         
            <div ng-messages="ajoutForm.name.$error">
              <div ng-message="required">Veuillez remplir ce champ</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Brasserie</label>
            <input  required ng-model="biere.brasserie" name="brasserie">
                         
            <div ng-messages="ajoutForm.brasserie.$error">
              <div ng-message="required">Veuillez remplir ce champ</div>
            </div>
        </md-input-container>        
           
        <md-input-container class="md-block" flex-gt-sm>
            <label>Description</label>
            <input required ng-model="biere.description" name="desc">
                              
            <div ng-messages="ajoutForm.desc.$error">
              <div ng-message="required">Veuillez remplir ce champ</div>
            </div>
            
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Image de la bière</label>
            <input ng-model="biere.image" name="image">
        </md-input-container>

        <img id="previewImg" src="{{biere.image}}">

        <md-button ng-click="ajoutBiere()" ng-disabled="ajoutForm.$invalid">Soumettre la bière</md-button>
    </md-card>
    </form>
</section>     




<div class="afficheToast"></div>